<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>568945435843-796a12c3rnqev6doj6v4be1fdfjn3a5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568945435843-796a12c3rnqev6doj6v4be1fdfjn3a5o</string>
	<key>API_KEY</key>
	<string>AIzaSyB50m49NjoizJ_xTSv9ZKeTiEf029H1ehw</string>
	<key>GCM_SENDER_ID</key>
	<string>568945435843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MaryannYin.FinalRetake</string>
	<key>PROJECT_ID</key>
	<string>ac-ios-final-retake</string>
	<key>STORAGE_BUCKET</key>
	<string>ac-ios-final-retake.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568945435843:ios:cc48380c5a5b83dc</string>
	<key>DATABASE_URL</key>
	<string>https://ac-ios-final-retake.firebaseio.com</string>
</dict>
</plist>